<section  class="dataPreview">
    <a href="/config/<%= rdf.title.object.nb[0] %>">
        <div class="dataPreviewInfo">
        <div class="dataPreTitle">
            <h2><%= rdf.title.object.nb[0] %></h2>
        </div>
    </a>
</section>
