<section class="adminDataPreview">
    <a href="/admin/config/:<%= rdf._id %>">
        <% if (rdf.title.object.nb) { %>
                <div class="dataPreviewInfo">
                <div class="dataPreTitle">
                    <h2> <%= rdf.title.object.nb %></h2>
                </div>
        <% } else { %>
            <h2>< ! Ugyldig dataregistrering, vennligst fjern ! ></h2>
        <% } %>
    </a>
</section>
