<section class="adminDataPreview">
    <% if (rdf.title.object.nb) { %>
        <a href="/config/<%= rdf.title.object.nb %>">
            <div class="dataPreviewInfo">
            <div class="dataPreTitle">
                <h2> <%= rdf.title.object.nb %></h2>
            </div>
        </a>
    <% } else { %>
        kunne ikke finne link
    <% } %>
</section>
