<section class="dataPreview">
    <div class="dataPreviewInfo">
        <div class="dataPreTitle">
            <h2><%= rdf.title.object.nb %></h2>
        </div>
        <div class="dataPreInfo">
            <p><%= rdf.description.object.nb %></p>
        </div>
</section>
