<section class="dataPreview">
    <div class="dataPreviewInfo">
        <div class="dataPreTitle">
            <%= rdf.title.nb %>
        </div>
        <br>
        <div class="dataPreType">
            <%=  %>
        </div>
        <br>
        <div class="dataPreInfo">
            <%= rdf.description.nb %>
        </div>
        <br>
        <div class="dataPreShowMore">
             
        </div>
        <br>
        <div class="dataPreFilters">
            <%= rdf.keywords %>
        </div>
    </div>
</section>
