<section  class="dataPreview">
    <a href="/info/<%= rdf.title.object.nb[0] %>">
        <div class="dataPreviewInfo">
        <div class="dataPreTitle">
            <h2><%= rdf.title.object.nb %></h2>
        </div>
        <div class="dataPreInfo">
            <p><%= rdf.description.object.nb %></p>
        </div>
    </a>
</section>
