        <div class="menuDropdown">

            <button class="menuBttn">
                <img src="/img/icons/burgermenuBlue.png" alt="blue burger menu">
                <p>Meny</p>
            </button>

            <div class="dropdownContent">
                <div class="grid-content">

                    <div class="menu-grid">
                        <h3 class="menu-title">Datakataloger</h3>
                        <ul class="dropdownLinks">
                            <li><a href="/datasett">Datasett</a></li>
                            <li><a href="/api">API-er</a></li>
                            <li><a href="/begreper">Bereper</a></li>
                            <li><a href="/infomodeller">Informasjonsmodeller</a></li>
                            <li><a href="/tjenesteroghendelser">Tjenester og Hendelser</a></li>
                        </ul>
                    </div>


                    <div class="menu-grid">
                        <h3 class="menu-title">Hjelp og veiledning</h3>
                        <ul class="dropdownLinks">
                            <li><a href="/brukerveiledning">Brukerveiledninger</a></li>
                            <li><a href="/datalandsbyen">Datalandsbyen</a></li>
                            <li><a href="/teknisksdok">Teknisk dokumentasjon</a></li>
                        </ul>
                    </div>


                    <div class="menu-grid">
                        <h3 class="menu-title">Om nav.no</h3>
                        <ul class="dropdownLinks">
                            <li><a href="/omoss">Om oss</a></li>
                            <li><a href="/rapporterognokkeltall">Rapport og nøkkeltall</a></li>
                            <li><a href="/kontaktoss">Kontakt oss</a></li>
                            <li><a href="/tilgjengeligerklaring">Tilgjengelighetserklæring</a></li>
                            <li><a href="/personerklaring">Personvernserklæring</a></li>
                            <li><a href="/infokapsler">Informasjonskapsler</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>