        <div class="menuDropdown">

            <button class="menuBttn">
                <p>Meny</p>
            </button>

            <div class="dropdownContent">
                <div class="grid-content">

                    <div class="menu-grid">
                        <h3 class="menu-title"><img class="menu-title" src="/img/nav-logo.png" alt="nav logo"></h3>
                        <ul class="dropdownText">
                            <li><p>
                                Arbeids- og velferdsetaten (NAV) er en samlet etat for arbeid, velferd og pensjon.
                            </p></li>
                        </ul>
                    </div>

                    <div class="menu-grid">
                        <h3 class="menu-title">Ansatt</h3>
                        <ul class="dropdownLinks">
                            <li><a href="/sign-in">Logg inn</a></li>
                            <li><a href="/admin/create">Legg til datasett</a></li>
                        </ul>
                    </div>

                    <div class="menu-grid">
                        <h3 class="menu-title">Nyttige lenker</h3>
                        <ul class="dropdownLinks">
                            <li><a href="https://www.nav.no">NAV.no</a></li>
                            <li><a href="https://www.nav.no/en">NAV.no - English</a></li>
                            <li><a href="https://www.nav.no/arbeidsgiver">For arbeidsgivere</a></li>
                        </ul>
                    </div>

                    <div class="menu-grid">
                        <h3 class="menu-title">Kontakt</h3>
                        <ul class="dropdownText">
                            <li>
                                <p>Telefon: 55 55 33 33</p>
                                <p><strong>Åpent: </strong></p>
                                <p>Mandag-Fredag 09:00-15:30</p>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>