<nav class="navbar">
    <a class="navLogo" href="/"><img src="/img/nav-logo.png" alt="nav logo"></a>


    <div class="navbarLinks">
        <a class="findDataLink" href="/findData">
            <img src="/img/icons/searchBlue.png" alt="blue search icon">
            <p>Finn Data</p>
        </a>

        <%- include('./menuDropdown.ejs') %>

        <a class="rdfLink" href="/rdf">
            <p>RDF (temp)</p>
        </a>
    </div>
    
</nav>