</head>
<body>
<nav class="navbar">
    <a class="navLogo" href="/"><img src="/img/nav-logo.png" alt="nav logo"></a>

    <% if (navItems.includes('search')) { %> 
        <div class="navSearch">
            <%- include('./searchfield.ejs') %>
        </div>
    <% } %>

    <div class="navbarLinks">
        <a class="findDataLink" href="/findData">
            <img src="/img/icons/searchBlue.png" alt="blue search icon">
            <p>Finn Data</p>
        </a>

        <%- include('./menuDropdown.ejs') %>

        <% if (navItems.includes('authed')) { %>
            <a class="rdfLink" href="/admin/">
                <p>Config</p>
            </a>
        <% } %>
            <a class="rdfLink" href="/rdf">
                <p></p>
            </a>
    </div>
    
</nav>