<nav class="navbar">
    <a class="navLogo" href="/"><img src="/img/nav-logo.png" alt="nav logo"></a>

    <div class="navSearch">
        <%- include('./searchfield.ejs') %>
    </div>
    

    <div class="navbarLinks">
        <a class="findDataLink" href="/findData">
            <img src="/img/icons/searchBlue.png" alt="blue search icon">
            <p>Finn Data</p>
        </a>
        <div>
            <button class="menuBttn">
                <img src="/img/icons/burgermenuBlue.png" alt="blue burger menu">
                <p>Meny</p>
            </button>
        </div>

        <a href="/rdf">
            <p>RDF (temp)</p>
        </a>
    </div>
    
</nav>