<form class="searchField" action="">
    <h2>Søk:</h2>
    <div class="searchInput">
        <input type="text">
        <button type="button"><img src="/img/icons/searchWhite.png" alt=""></button>
    </div>
    
</form>