<form action="/" method="GET">
    <div class="searchInput">
        <input id="search" type="text" name="search" placeholder="Søk etter tittel...">
        <button type="submit"><img src="/img/icons/searchWhite.png" alt=""></button>
    </div>
</form>