<form action="/?">
    <div class="searchInput">
        <input type="text" name="search" placeholder="Søk etter tittel...">
        <button type="submit"><img src="/img/icons/searchWhite.png" alt=""></button>
    </div>

</form>