<%- include('./partials/head.ejs') %>
<%- include('./partials/navigation.ejs') %>

<div class="errorPage">
    <h1>-- 404 --</h1>
    <p>Oops! Looks like we don't have the the page you are looking for!</p>
</div>


<%- include('./partials/foot.ejs') %>