<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<div class="center flexcol">
    <div class="flexrow">
        <form action="/admin/create" method="post">
            <input type="url" name="url">
            <button>confirm</button>
        </form>
    </div>
</div>

<%- include('./partials/foot') %>