<%- include('./partials/head.ejs') %>

    <%- include('./partials/navigation.ejs') %>

    <div class="indexLogo">
        <img src="/img/nav-logo.png" alt="nav logo">
    </div>


    <%- include('./partials/searchfield.ejs') %>

<%- include('./partials/foot.ejs') %>