<%- include('./partials/head.ejs') %>

    <%- include('./partials/navigation.ejs') %>

    <div class="indexLogo">
        <img src="/img/nav-logo.png" alt="nav logo">
    </div>

    <div class="searchField">
        <h2>Søk:</h2>
        <%- include('./partials/searchfield.ejs') %>
    </div>


<%- include('./partials/foot.ejs') %>