/* FIND DATA page */

.findDataPage {
  width: 100%;
  height: fit-content;
  background-color: var(--red);
}

.results {
  display: flex;
}

.dataPreview {
  margin: 20px;
  padding: 10px;
  background-color: var(--white);
  border: var(--dark-blue) 2px solid;
  border-radius: 20px;
}

.dataPreviews {
  margin: 5% auto;
}

.dataPreviews a {
  text-decoration: none;
}

.dataPreviews p {
  color: var(--white);
}

.dataPreviewInfo h2 {
  color: var(--dark-blue);
}

.dataPreviewInfo {
  padding: 0 20px;
}

.dataPreInfo {
  white-space: pre-line;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--black);
  margin: 0;
  height: fit-content;
}

/* Search Filter */
.searchFilter {
  display: flex;
  justify-content: space-evenly;
  color: var(--white);
  list-style: none;
  width: 30vw;
}

.searchFilter li {
  padding: 10px 20px;
  border-radius: 10px;
}

.activeSort {
    background-color: var(--white);
    color: var(--dark-blue);
}

